<div class="container" style="text-align: center;">
  <h3>You can read wiki data GOT</h3>
  <br />
  <br />
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Title</a>
      <ng-template ngbNavContent>
        <p>{{ data.Title }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Writer</a>
      <ng-template ngbNavContent>
        <p>{{ data.Writer }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>Actors</a>
      <ng-template ngbNavContent>
        <p>{{ data.Actors }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink>Plot</a>
      <ng-template ngbNavContent>
        <p>{{ data.Plot }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink>Awards</a>
      <ng-template ngbNavContent>
        <p>{{ data.Awards }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="6">
      <a ngbNavLink>Poster</a>
      <ng-template ngbNavContent>
        <img [src]="data.Poster" />
      </ng-template>
    </li>
    <li [ngbNavItem]="7">
      <a ngbNavLink>Country</a>
      <ng-template ngbNavContent>
        <p>{{ data.Country }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="8">
      <a ngbNavLink>imdbVotes</a>
      <ng-template ngbNavContent>
        <p>{{ data.imdbVotes }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="9">
      <a ngbNavLink>imdbID</a>
      <ng-template ngbNavContent>
        <p>{{ data.imdbID }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="10">
      <a ngbNavLink>Released</a>
      <ng-template ngbNavContent>
        <p>{{ data.Released }}</p>
      </ng-template>
    </li>
    <li [ngbNavItem]="11">
      <a ngbNavLink>Genre</a>
      <ng-template ngbNavContent>
        <p>{{ data.Genre }}</p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
