<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand"
    ><img src="../../assets/logo.png" style="height: 39px;width: 39px;"
  /></a>
  <h3 style="color:white;">GoT CRUD Seasons</h3>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    (click)="isCollapsed = !isCollapsed"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarsExampleDefault"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink=""
          >About this Project

          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="chapters">Seasons CRUD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="wiki">GoT Wiki</a>
      </li>
    </ul>
    <!--   
  <form class="form-inline my-2 my-lg-0">
  
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  
  </form> -->
  </div>
</nav>
