<div class="view">
  <div class="container">
    <header>
      <h3>
        <span class="glyphicon glyphicon-info-sign"></span> About this Project
      </h3>
    </header>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-2">Developed by:</div>
        <div class="col-md-10">
          <a href="hhttps://www.linkedin.com/in/juanmmendez/" target="_blank"
            >Juan Méndez</a
          >
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Description</div>
        <div class="col-md-10">
          <h4>CRUD with the seasons of Games Of Thrones. Developed with Angular 9 </h4>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-2">Repository:</div>
        <div class="col-md-10">
          <a
            href="https://bitbucket.org/Jmmendezsw/got-seasons-crud.git"
            target="_blank"
            >https://bitbucket.org/Jmmendezsw/got-seasons-crud.git</a
          >
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
