/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

// Your variable overrides
$theme-colors: (
  "primary": #0e2427,
  "danger": #ff4136
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

body {
    padding-top: 80px;
    font-weight: 300;
    background-image: url('./assets/winter.jpg');
    font-style: italic;
    font-size: smaller;
  }
  .template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .btn-info {
    color: #fff;
    font-size: 12px;
    background-color: #0e2427;
    border-color: #0e2527;
}

.btn-disabled {
  color: #131212;
  font-size: 12px;
  background-color: #d8dcdc;
  border-color: #d8dcdc;
}

.btn-danger {
  color: #fff;
  font-size: 12px;
  background-color: #0e2427;
    border-color: #0e2527;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #252627;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #1a1b1d;
}

.nav-tabs .nav-link {
  border: 1px solid #343a40;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  text-transform: uppercase;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fafbfd;
  background-color: #3e3535;
  border-color: #dee2e6 #dee2e6 #fff;
}